<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register or Login</title>
</head>
<body>
    <div class="register">
        <form action="/users/register", method="post">
            <h1>Register</h1>
            {% with messages = get_flashed_messages(category_filter = ['register']) %}        <!-- declare a variable called messages -->
                {% if messages %}                               <!-- check if there are any messages -->
                    {% for message in messages %}               <!-- loop through the messages -->
                    <p>{{message}}</p>                      <!-- display each message in a paragraph tag -->
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <label>
                First Name:
                    <input type="text" name="first_name">
            </label>
            <label>
                Last Name:
                <input type="text" name="last_name">
            </label>
            <label>
                Email:
                <input type="email" name="email">
            </label>
            <label>
                Password:
                <input type="password" name="password">
            </label>
            <label>
                Confirm Password:
                <input type="password" name="confirm_password">
            </label>
            <input type="submit" value="Register">
        </form>
    </div>
    <div class="login">
        <form action="/users/login", method = 'post'>
            <h1>Login</h1>
            {% with messages = get_flashed_messages(category_filter = ['login']) %}        <!-- declare a variable called messages -->
                {% if messages %}                               <!-- check if there are any messages -->
                    {% for message in messages %}               <!-- loop through the messages -->
                    <p>{{message}}</p>                      <!-- display each message in a paragraph tag -->
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <label>
                Email:
                <input type="email" name="email">
            </label>
            <label>
                Password:
                <input type="password" name="password">
            </label>
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>